@import "../../../styles/variables.scss";

.container {
  height: $decor-container-height;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 5px gray;
  z-index: 999;
}
